html{
    font-family: "Crimson Text";
    background-color: #f6f6f6;
    font-size: 100%;
}

strong{
    font-weight: bold;
}

#barbershop-header{
    background-color: #000000;
    border-radius: 0 0 30px 30px;
    position: relative;
}

#barbershop-header div{
    display: inline-block;
}

#shirime-logo{
  width: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  font-size: 120%;
}

#title-barberShop{
  width: 80%;
  text-align: center;
  position: absolute;
  padding: 1rem 0;
  font-size: 250%;
}

#barbershop-body h1, #barbershop-body h2, #barbershop-body h3, #barbershop-body thead, nav{
    text-transform: uppercase;
    font-family: 'Rye', cursive;
}
#barbershop-body h1, #barbershop-body h2{
    color: #ffffff;
}

#barbershop-body h3{
    color: #000000;
    font-size: 120%;
    margin: 1em;
    font-weight: bold;
}

em{
    font-style: italic;
}

#barbershop-body{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#barbershop-conteudo{
    padding-top: 2rem;
    padding-bottom: 6rem;
    line-height: 1.5;
}

#barbershop-main h1{
    font-size: 300%;
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans Condensed";
    padding: 1.25rem;  /*REM é relativo ao tamanho padrão da fonte, e EM ao tamanho da fonte do elemento */
    border-bottom: 0.5rem solid #000000;
}

p{
    text-align: justify;
    margin: 1rem;
}

#barbershop-main{
    clear:both;
    width: 100%;
}

#barbershop-nav{
    height: 2em;
    box-sizing: border-box;
    background-color: #db9356;
    padding: 0.5em;
    border-radius: 0 0 30px 30px;
}

#barbershop-nav a{
    text-decoration: none;
    text-transform: lowercase;
    color: #000000;
}

#barbershop-nav a:hover{
    text-decoration: underline overline;
}

#barbershop-nav ul{
    width: 100%;
}

#barbershop-nav ul li{
    width: 24.5%;
    display: inline-block;
    text-align: center;
}
