table > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    line-height: .8em;
}
table {
    border-collapse: separate;
    border-spacing: 0.25em;
    text-align: center;
}
td, th {
    padding: 1em;
}
th, thead td {
    color: #FFFFFF;
}
thead th, thead td {
    background-color: #000000;
}
tbody th {
    background-color: #db9356;
}

td {
    background-color: #EEE;
}

thead tr {
    height: 5em;
}

thead th {
    width: 55%;
}


thead .price-title, thead .time-length-title {
    width: 20%;
}

#add-service {
    padding: 0;
    width: 100%;
    height: 100%;
}

#btn-add-service, .btn-remove-service, .btn-edit-service {
    border: 0 solid #0000ff;
}

#btn-add-service, .btn-remove-service {
    font-weight: bold;
    color: #FFF;

}

.btn-remove-service {
    background-color: #FF0000;
    border-radius: 10px;
}

#btn-add-service {
    background-color: #00B32C;
    width: 100%;
    height: 100%;
}

#services-table {
    width: 70%;
    margin: auto;
}

#service-registration {
    background-color: #D3D3D3;
    width: 25%;
    position: relative;
    padding-bottom: 6em;
}

.save-cancel {
    padding-top: 2em;
    display: inline-block;
}

#btn-cancel-service-registration {
    position: absolute;
    left: 15%;
}

#btn-save-service-registration {
    position: absolute;
    right: 15%;
}

.btn-edit-service {
    border-radius: 10px;
    font-size: 1em;
}