html, body {
  height: 100%;
}

body {
    margin: 0;
}

html {
  font-family: "Crimson Text";
  font-size: 150%;
}

h1 {
  font-family: 'Rye', cursive;
  color: #ffffff;
  margin-top: 0;
  padding-top: 3rem;
}

h2, small {
  color: #ffffff;
}

h2 {
  font-family: "Open Sans Condensed";
}

header {
  text-align: center;
  background-color: #000000;
  margin-top: 0;
}

header, section {
  border-bottom: 0.3rem solid #db9356;
}
.ultima {
  border-bottom: 0.3rem solid #851944;
}

h1, h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
h1 {
  text-transform: uppercase;
  font-weight:normal;
}

h2 {
  margin-left: 3rem;
  w: 4px 4px #000000;
}

header .subtitle {
  padding-bottom: 1rem;
  color: #ffffff;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.intro-bio {
  color: #A9A9A9;
  background-color: #f6f6f6;
  padding-top: 8rem;
}

#btn-signin {
  background-color: #db9356;
  border-radius: 10px;
  position: absolute;
  width: 5%;
  top: 5px;
  right: 5px;
  border: 0 solid #0000ff;
  color: #000000;
  padding: 10px;
}

button:active {
  background-color: #000000;
  color: #db9356;
}
