/* The Modal (background) */
.modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-login-title {
  font-family: 'Rye', cursive;
  margin: 0;
}

/* Modal Window */
.modal-login-window {
    background-color: #f6f6f6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    overflow: auto;

}

.modal-login-content {
  font-size: 70%;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#choose-user-type{
  display: none;
}

#choose-user-type ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
#choose-user-type li{
  margin-top: 1rem;
}

#choose-user-type button{
  font-size: 150%;
  font-family: 'Rye', cursive;
  width: 80%;
  padding: 0.6rem;
  color: #ffffff;
  background-color: #000000;
}

#choose-user-type button:hover{
  color: #db9356;
}


#user-signin{
}

#barberShop-info{
  display: none;
}

#personal-info{
  display: none;
}

#authentication-error, #signup-link{
  margin-left: calc(15% - 0.4em);
}
