label[for] {
  margin-left: calc(15% - 0.4em);
}

.form-column {
  margin: 1em 0;
  width: 100%;
}

.form-text {
    display: block;
    border: 0.2em solid  #E5E7E9;
    padding: 0.3em;
    margin: auto;
    width: 70%;
}

.btn-shirime {
  background-color: #db9356;
  border-radius: 10px;
  border: 0 solid #0000ff;
  color: #000000;
  padding: 10px;
  float: right;
}

button:active {
  background-color: #000000;
  color: #db9356;
}

input:invalid,textarea:invalid {
    box-shadow: 0 0 0;
}

input:focus, button:focus {
  outline: none;
}

.invalid{
    box-shadow: 0 0 0.2em #C0392B;
}

.valid{
    box-shadow: 0 0 0.2em #00B32C;
}

.sem_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }

 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px;
 }